{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report</h1>

<div class="two-col-div">
    <div class="left-col">
        <h2 id="kmom01">kmom01</h2>

        <p>Mina förkunskaper inom objektorientering grundar sig på det jag har lärt mig i OOPython och det lilla man kunde använda i JavaScript-kursen.
        Jag hann inte riktigt avsluta OOPython, men jag hoppas ändå att jag kommer att förstå denna kurs så att jag kan plugga ikapp det övriga under sommaren.</p>
        <p>En klass initieras genom att använda <code>new class</code>. Klassen kan ha egenskaper, metoder och konstanter. 
        När en metod anropas i ett objektsammanhang kan man använda variabeln <code>$this</code> för att nå data från ett objekt.  
        Ett objekt kan ärva från ett annat objekt med hjälp av <code>extends</code>. 
        Det är också viktigt att vara medveten om huruvida egenskaperna ska vara publika eller privata.</p>
        <p>Kodbasen är för närvarande tydligt baserad på uppgiften från kmom01. 
        Designmässigt är det väldigt enkelt och just nu inte speciellt snyggt. Men jag planerar att förbättra det under kommande moment. 
        Jag har valt att använda CSS utan någon preprocessor vid det här laget, men jag överväger att konvertera eller göra om det till SASS senare under kursen.</p>
        <p>Jag har bara skummat igenom "PHP: The Right Way", men den verkar tydlig och lättläst. 
        Det känns som en bra resurs, eftersom jag tycker att PHP-dokumentationen saknar lite av den läsvänligheten. Säkerhet och optimering verkar intressant, även om jag inte är där i mitt lärande ännu att det är något jag ska fokusera på. Men det är en otroligt viktig aspekt och något jag vill säkerställa att jag har koll på innan jag försöker skapa en hemsida i skarpt läge.</p>
        <p>
        kmomets TIL är att det börjar ställas lite mer krav redovisningstexterna :)
        </p>
        <p>redovisningstext...</p>
        <h2 id="kmom02">kmom02</h2>
        <p>redovisningstext...</p>
        <h2 id="kmom03">kmom03</h2>
        <p>redovisningstext...</p>
        <h2 id="kmom04">kmom04</h2>
        <p>redovisningstext...</p>
        <h2 id="kmom05">kmom05</h2>
        <p>redovisningstext...</p>
        <h2 id="kmom06">kmom06</h2>
        <p>redovisningstext...</p>

        <h2 id="kmom10">kmom10</h2>
        <p>redovisningstext...</p>

    </div>
    <div class="right-col">
        <h3>Index</h3>
        <ul>

            <li><a href="{{ path('report') }}#kmom01">kmom01</a></li>
            <li><a href="{{ path('report') }}#kmom02">kmom02</a></li>
            <li><a href="{{ path('report') }}#kmom03">kmom03</a></li>
            <li><a href="{{ path('report') }}#kmom04">kmom04</a></li>
            <li><a href="{{ path('report') }}#kmom05">kmom05</a></li>
            <li><a href="{{ path('report') }}#kmom06">kmom06</a></li>
            <li><a href="{{ path('report') }}#kmom10">kmom10</a></li>
        </ul>

    </div>
</div>

{% endblock %}